.price-col {
    background: #fff;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.price-col.feature {
    background-color: #fffffff;
    -webkit-box-shadow: 4px 2px 32px -10px rgba(168, 166, 168, 1);
    -moz-box-shadow: 4px 2px 32px -10px rgba(168, 166, 168, 1);
    box-shadow: 4px 2px 32px -10px rgba(168, 166, 168, 1);
}

.price-col.feature h1 {
    color: #111;
}

.price-col.feature ul li {
    color: #111;
}

.price-col h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.price-col .p-value {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
    margin-bottom: 40px;
}

.price-col.feature .p-value {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 25px 0;
    margin-bottom: 40px;
}

.price-col .dollar {
    font-size: 42px;
    font-weight: normal;
    color: #1b232e;
}

.price-col .dollar span {
    font-size: 16px;
    margin-left: -10px;
}

.price-col .duration {
    font-size: 12px;
    text-transform: uppercase;
}

.price-col ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    display: block;
}

.price-col ul li {
    margin-bottom: 15px;
    color: #222222;
}

.price-col.feature ul li {}

.price-col .p-btn {
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    padding: 20px 15px;
    display: inline-block;
    text-transform: uppercase;
    display: inherit;
    font-weight: normal;
}

.p-table-gutter-less .col-lg-1,
.p-table-gutter-less .col-lg-10,
.p-table-gutter-less .col-lg-11,
.p-table-gutter-less .col-lg-12,
.p-table-gutter-less .col-lg-2,
.p-table-gutter-less .col-lg-3,
.p-table-gutter-less .col-lg-4,
.p-table-gutter-less .col-lg-5,
.p-table-gutter-less .col-lg-6,
.p-table-gutter-less .col-lg-7,
.p-table-gutter-less .col-lg-8,
.p-table-gutter-less .col-lg-9,
.p-table-gutter-less .col-md-1,
.p-table-gutter-less .col-md-10,
.p-table-gutter-less .col-md-11,
.p-table-gutter-less .col-md-12,
.p-table-gutter-less .col-md-2,
.p-table-gutter-less .col-md-3,
.p-table-gutter-less .col-md-4,
.p-table-gutter-less .col-md-5,
.p-table-gutter-less .col-md-6,
.p-table-gutter-less .col-md-7,
.p-table-gutter-less .col-md-8,
.p-table-gutter-less .col-md-9,
.p-table-gutter-less .col-sm-1,
.p-table-gutter-less .col-sm-10,
.p-table-gutter-less .col-sm-11,
.p-table-gutter-less .col-sm-12,
.p-table-gutter-less .col-sm-2,
.p-table-gutter-less .col-sm-3,
.p-table-gutter-less .col-sm-4,
.p-table-gutter-less .col-sm-5,
.p-table-gutter-less .col-sm-6,
.p-table-gutter-less .col-sm-7,
.p-table-gutter-less .col-sm-8,
.p-table-gutter-less .col-sm-9,
.p-table-gutter-less .col-xs-1,
.p-table-gutter-less .col-xs-10,
.p-table-gutter-less .col-xs-11,
.p-table-gutter-less .col-xs-12,
.p-table-gutter-less .col-xs-2,
.p-table-gutter-less .col-xs-3,
.p-table-gutter-less .col-xs-4,
.p-table-gutter-less .col-xs-5,
.p-table-gutter-less .col-xs-6,
.p-table-gutter-less .col-xs-7,
.p-table-gutter-less .col-xs-8,
.p-table-gutter-less .col-xs-9,
.price-table-row .p-table-gutter-less .col-lg-1,
.price-table-row .p-table-gutter-less .col-lg-10,
.price-table-row .p-table-gutter-less .col-lg-11,
.price-table-row .p-table-gutter-less .col-lg-12,
.price-table-row .p-table-gutter-less .col-lg-2,
.price-table-row .p-table-gutter-less .col-lg-3,
.price-table-row .p-table-gutter-less .col-lg-4,
.price-table-row .p-table-gutter-less .col-lg-5,
.price-table-row .p-table-gutter-less .col-lg-6,
.price-table-row .p-table-gutter-less .col-lg-7,
.price-table-row .p-table-gutter-less .col-lg-8,
.price-table-row .p-table-gutter-less .col-lg-9,
.price-table-row .p-table-gutter-less .col-md-1,
.price-table-row .p-table-gutter-less .col-md-10,
.price-table-row .p-table-gutter-less .col-md-11,
.price-table-row .p-table-gutter-less .col-md-12,
.price-table-row .p-table-gutter-less .col-md-2,
.price-table-row .p-table-gutter-less .col-md-3,
.price-table-row .p-table-gutter-less .col-md-4,
.price-table-row .p-table-gutter-less .col-md-5,
.price-table-row .p-table-gutter-less .col-md-6,
.price-table-row .p-table-gutter-less .col-md-7,
.price-table-row .p-table-gutter-less .col-md-8,
.price-table-row .p-table-gutter-less .col-md-9,
.price-table-row .p-table-gutter-less .col-sm-1,
.price-table-row .p-table-gutter-less .col-sm-10,
.price-table-row .p-table-gutter-less .col-sm-11,
.price-table-row .p-table-gutter-less .col-sm-12,
.price-table-row .p-table-gutter-less .col-sm-2,
.price-table-row .p-table-gutter-less .col-sm-3,
.price-table-row .p-table-gutter-less .col-sm-4,
.price-table-row .p-table-gutter-less .col-sm-5,
.price-table-row .p-table-gutter-less .col-sm-6,
.price-table-row .p-table-gutter-less .col-sm-7,
.price-table-row .p-table-gutter-less .col-sm-8,
.price-table-row .p-table-gutter-less .col-sm-9,
.price-table-row .p-table-gutter-less .col-xs-1,
.price-table-row .p-table-gutter-less .col-xs-10,
.price-table-row .p-table-gutter-less .col-xs-11,
.price-table-row .p-table-gutter-less .col-xs-12,
.price-table-row .p-table-gutter-less .col-xs-2,
.price-table-row .p-table-gutter-less .col-xs-3,
.price-table-row .p-table-gutter-less .col-xs-4,
.price-table-row .p-table-gutter-less .col-xs-5,
.price-table-row .p-table-gutter-less .col-xs-6,
.price-table-row .p-table-gutter-less .col-xs-7,
.price-table-row .p-table-gutter-less .col-xs-8,
.price-table-row .p-table-gutter-less .col-xs-9 {
    padding: 0;
}

.p-table-gutter-less .price-col {
    margin-right: -1px;
}

.price-table-row .col-lg-1,
.price-table-row .col-lg-10,
.price-table-row .col-lg-11,
.price-table-row .col-lg-12,
.price-table-row .col-lg-2,
.price-table-row .col-lg-3,
.price-table-row .col-lg-4,
.price-table-row .col-lg-5,
.price-table-row .col-lg-6,
.price-table-row .col-lg-7,
.price-table-row .col-lg-8,
.price-table-row .col-lg-9,
.price-table-row .col-md-1,
.price-table-row .col-md-10,
.price-table-row .col-md-11,
.price-table-row .col-md-12,
.price-table-row .col-md-2,
.price-table-row .col-md-3,
.price-table-row .col-md-4,
.price-table-row .col-md-5,
.price-table-row .col-md-6,
.price-table-row .col-md-7,
.price-table-row .col-md-8,
.price-table-row .col-md-9,
.price-table-row .col-sm-1,
.price-table-row .col-sm-10,
.price-table-row .col-sm-11,
.price-table-row .col-sm-12,
.price-table-row .col-sm-2,
.price-table-row .col-sm-3,
.price-table-row .col-sm-4,
.price-table-row .col-sm-5,
.price-table-row .col-sm-6,
.price-table-row .col-sm-7,
.price-table-row .col-sm-8,
.price-table-row .col-sm-9,
.price-table-row .col-xs-1,
.price-table-row .col-xs-10,
.price-table-row .col-xs-11,
.price-table-row .col-xs-12,
.price-table-row .col-xs-2,
.price-table-row .col-xs-3,
.price-table-row .col-xs-4,
.price-table-row .col-xs-5,
.price-table-row .col-xs-6,
.price-table-row .col-xs-7,
.price-table-row .col-xs-8,
.price-table-row .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.title-col h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.title-col .p-btn {
    padding: 15px 15px;
    margin-bottom: 20px;
}

.title-col button {
    float: none;
    font-size: 15px;
}

.sidebar-section {
    height: 650px;
    background: #f8f8f8;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.primary-section {
    height: 650px;
}

.main-container .step-group .form-group .col-xs-12 ul {
    background: rgb(249, 249, 249);
    height: 75px;
}

.main-container .step-group .col-xs-12 ul .border-right {
    border-right: 1px solid #999;
}

.main-container .step-group .col-xs-12 ul .list-group-item-heading {
    color: #111;
    ;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
}

.step-group {
    margin-bottom: -15px;
}

.label {
    color: black;
    padding: 8px;
    font-family: Arial;
}

.lbl-sidebar {
    padding-left: 10px;
}

.input-sidebar {
    margin-left: 21px;
}

.lbl-location {
    padding-left: 30px;
}

.input-group {
    border-radius: 6px;
    margin-left: 15px;
}

.input-lg {
    font-size: 14px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 18%;
    }
    .col-md-8 {
        width: 62%;
    }
    .title-col h1 {
        font-size: 28px;
    }
    .title-col button {
        font-size: 12px;
    }
}